.elgg-menu-matchmaker-actions {
    margin: 10px 0;
}
.elgg-menu-matchmaker-actions > li {
    margin-right: 10px;
}
.matchmaker-stat {
    padding: 5px;
    border-top: 1px solid #eee;
}
.matchmaker-stat:last-child {
	border-bottom: 1px solid #eee;
}
.matchmaker-introduction .elgg-output {
    margin: 0;
}
.matchmaker-introduction blockquote {
    margin: 0;
}
